function Main.main 2
push constant 8001
push constant 16
push constant 1
neg
call Main.fillMemory 3
pop temp 0
push constant 8000
call Memory.peek 1
pop local 1
push local 1
call Main.convert 1
pop temp 0
push constant 0
return
function Main.convert 3
push constant 0
not
pop local 2
label whileStatement_0_st
push local 2
not
if-goto whileStatement_0_end
push local 1
push constant 1
add
pop local 1
push local 0
call Main.nextMask 1
pop local 0
push constant 9000
push local 1
add
push local 0
call Memory.poke 2
pop temp 0
push local 1
push constant 16
gt
not
not
if-goto ifStatement_1_else
push argument 0
push local 0
and
push constant 0
eq
not
not
if-goto ifStatement_2_else
push constant 8000
push local 1
add
push constant 1
call Memory.poke 2
pop temp 0
goto ifStatement_2_end
label ifStatement_2_else
push constant 8000
push local 1
add
push constant 0
call Memory.poke 2
pop temp 0
label ifStatement_2_end
goto ifStatement_1_end
label ifStatement_1_else
push constant 0
pop local 2
label ifStatement_1_end
goto whileStatement_0_st
label whileStatement_0_end
push constant 0
return
function Main.nextMask 0
push argument 0
push constant 0
eq
not
if-goto ifStatement_3_else
push constant 1
return
goto ifStatement_3_end
label ifStatement_3_else
push argument 0
push constant 2
call Math.multiply 2
return
label ifStatement_3_end
function Main.fillMemory 0
label whileStatement_4_st
push argument 1
push constant 0
gt
not
if-goto whileStatement_4_end
push argument 0
push argument 2
call Memory.poke 2
pop temp 0
push argument 1
push constant 1
sub
pop argument 1
push argument 0
push constant 1
add
pop argument 0
goto whileStatement_4_st
label whileStatement_4_end
push constant 0
return
